<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Home Page</h2>
    <hr />
    <p>Welcome to the Home Page...</p>
    <hr />
    <p>
      User: <span sec:authentication="principal.username"></span> <br /><br />
      Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr />
    <div sec:authorize="hasRole('MANAGER')">
      <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
      </p>
      <hr />
    </div>

    <div sec:authorize="hasRole('ADMIN')">
      <p>
        <a th:href="@{/systems}">Systems Meeting</a>
      </p>
      <hr />
    </div>
    <form action="#" method="post" th:action="@{/logout}">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
