<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Form</title>
    <style>
      .error {
        font-style: italic;
        color: red;
      }
    </style>
  </head>
  <body>
    <i>Fill the form. (*) is required</i>
    <br /><br /><br />
    <form th:action="@{/processForm}" th:object="${customer}" method="post">
      First Name: <input type="text" th:field="*{firstName}" /> *
      <span
        th:if="${#fields.hasErrors('firstName')}"
        th:errors="*{firstName}"
        class="error"
      ></span>

      <br /><br />

      Last Name: <input type="text" th:field="*{lastName}" />

      <br /><br />

      Free Passes: <input type="text" th:field="*{freePasses}" />
      <span
        th:if="${#fields.hasErrors('freePasses')}"
        th:errors="*{freePasses}"
        class="error"
      ></span>

      <br /><br />

      Postal Code: <input type="text" th:field="*{postalCode}" />
      <span
        th:if="${#fields.hasErrors('postalCode')}"
        th:errors="*{postalCode}"
        class="error"
      ></span>

      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
